@using Exam_Management.Models.ViewModels;
@model IEnumerable<ExamSessionViewModel>;

<h1>Exam Sessions</h1>

@{
    if (Model.Count() == 0)
    {
        <div class="">
            <p>There are no Exam sessions</p>
            <br />
            <p>Add a Exam Session below</p>
        </div>
    }
    else
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Id</th>
                <th>Session Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Exam Site</th>
                <th>View / Edit</th>
            </tr>

            @foreach (var session in Model)
            {
                var start = session.StartDate == null ? "Unset" : session.StartDate.ToString();
                var end = session.EndDate == null ? "Unset" : session.EndDate.ToString();
                <tr>
                    <td>@session.SessionId</td>
                    <td>@session.SessionName</td>
                    <td>@session.Description</td>
                    <td>@start</td>
                    <td>@end</td>
                    <td>@session.ExamSite.Name</td>
                    <td><a href="/ExamSession/Details/@session.SessionId"><button>View / Edit</button></a></td>
                </tr>
            }
        </table>
    }
}

<br />
<a href="/ExamSession/CreateSession">Create</a>