@using Exam_Management.Models.ViewModels;
@model ExamSiteViewModel;

<h1>Confirm Delete (Permanent)</h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
    </tr>

    <tr>
        <td>@Model.Id</td>
        <td>@Model.Code</td>
        <td>@Model.Name</td>
        <td>@Model.</td>
    </tr>

</table>

<form method="post" asp-controller="ExamSite" asp-action="DeleteSite">
    <input asp-for="Id" value="@Model.Id" alt="Id" type="hidden" />
    <br />
    <h4>Delete</h4>
    <br />
    <button type="submit">DELETE</button>
</form>

<br />
<a href="/ExamSite/Details/@Model.Id">Go back</a>